Repository selwtf/turris: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/toolchain-azp.yaml, .azure-pipelines/toolchain-pkg-repo.yaml, .azure-pipelines/toolchain-turris-base.yaml, .azure-pipelines/toolchain-turris-sdk.yaml, .azure-pipelines/turris-pkgs-docker.yaml

Path conditions:
  .azure-pipelines/toolchain-azp.yaml: any of: toolchain/azure-pipelines
  .azure-pipelines/toolchain-pkg-repo.yaml: any of: toolchain/pkg-repo
  .azure-pipelines/toolchain-turris-base.yaml: any of: toolchain/turris-base
  .azure-pipelines/toolchain-turris-sdk.yaml: any of: toolchain/turris-sdk
  .azure-pipelines/turris-pkgs-docker.yaml: any of: pkgs/docker, pkgs/containerd, pkgs/runc, pkgs/tini-static

refactor azp pipeline setup
  .azure-pipelines/toolchain-turris-base.yaml
  .azure-pipelines/toolchain-turris-sdk.yaml
  .azure-pipelines/turris-pkgs-docker.yaml
  toolchain/turris-base/dockerfile
  toolchain/turris-sdk/dockerfile
Due: .azure-pipelines/toolchain-turris-base.yaml, .azure-pipelines/toolchain-turris-sdk.yaml

pkg/docker: delay startup to S97, so user scripts in S95 can pre-configure environment (e.g. symlink for /var/lib/docker)
  pkgs/docker-engine/files/etc/init.d/docker
Due: none

pkg/docker: enable sysctl for network bridge via iptables
  pkgs/docker-engine/Makefile
  pkgs/docker-engine/files/etc/sysctl.d/20-docker
Due: none

move toolchain-turris-base to private agent since hosted quota became too restrictive
  .azure-pipelines/toolchain-turris-base.yaml
Due: none

build turris base image using github actions and kaniko
  .github/workflows/kaniko.yml
Due: none

extend github workflow to build entire toolchain
  .github/workflows/build-toolchain.yml
  .github/workflows/kaniko.yml
Due: none

[CI] update kaniko github action from v0.3.2 to v0.5.1
  .github/workflows/build-toolchain.yml
Due: none

[CI] increase max memory to 4 GB
  .github/workflows/build-toolchain.yml
Due: none

[CI] pass WORKSPACE env to build
  .github/workflows/build-toolchain.yml
Due: none

[CI] Merge turris-base and turris-sdk into turris-sdk
  .github/workflows/build-toolchain.yml
  toolchain/turris-base/dockerfile
  toolchain/turris-sdk/build.sh
  toolchain/turris-sdk/dockerfile
Due: .azure-pipelines/toolchain-turris-base.yaml, .azure-pipelines/toolchain-turris-sdk.yaml

[CI] prepare toolchain for custom kernel with docker/k3s optimized flags (cok)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/dockerfile
  .github/workflows/build-toolchain-cok.yml
  .github/workflows/build-toolchain.yml
  README.md
  toolchain/turris-cok-sdk/README.md
  toolchain/turris-cok-sdk/dockerfile
  toolchain/turris-cok-sdk/kcfg_docker
  toolchain/turris-sdk/dockerfile
Due: .azure-pipelines/toolchain-turris-sdk.yaml

[CI] split toolchain builds into separate workflows
  .devcontainer/dockerfile
  .github/workflows/build-toolchain.yml
  .github/workflows/toolchain-pkg-repo.yml
  .github/workflows/toolchain-turris-cok-sdk.yml
  .github/workflows/toolchain-turris-sdk.yml
  toolchain/turris-cok-sdk/dockerfile
  toolchain/turris-sdk/dockerfile
Due: .azure-pipelines/toolchain-turris-sdk.yaml

[cok] prepare toolchain for container-optimized kernel build of TurrisOS + [CI] separate workflows
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/dockerfile
  .github/workflows/build-toolchain.yml
  .github/workflows/toolchain-pkg-repo.yml
  .github/workflows/toolchain-turris-cok-sdk.yml
  .github/workflows/toolchain-turris-sdk.yml
  README.md
  toolchain/turris-base/dockerfile
  toolchain/turris-cok-sdk/README.md
  toolchain/turris-cok-sdk/dockerfile
  toolchain/turris-cok-sdk/kcfg_docker
  toolchain/turris-sdk/build.sh
  toolchain/turris-sdk/dockerfile
Due: .azure-pipelines/toolchain-turris-base.yaml, .azure-pipelines/toolchain-turris-sdk.yaml

introduce container-optimized kernel (cok)
  .azure-pipelines/toolchain-azp.yaml
  .azure-pipelines/toolchain-pkg-repo.yaml
  .azure-pipelines/toolchain-turris-base.yaml
  .azure-pipelines/toolchain-turris-sdk.yaml
  .azure-pipelines/turris-pkgs-docker.yaml
  .github/workflows/packages-cok-community-docker.yml
  .github/workflows/packages-cok-firmware.yml
  .github/workflows/packages-community-docker.yml
  .github/workflows/toolchain-pkg-repo.yml
  .github/workflows/toolchain-turris-cok-sdk.yml
  .github/workflows/toolchain-turris-sdk.yml
  .gitignore
  .secrets/gcp-sa.json.enc
  .secrets/sign.key.enc
  README.md
  doc/img/zimage-diff.png
  toolchain/install/install.sh
  toolchain/install/package.sh
  toolchain/install/repo-cok.sh
  toolchain/install/repo.sh
  toolchain/pkg-repo/dockerfile
  toolchain/pkg-repo/pkg-repo.sh
  toolchain/turris-cok-sdk/README.md
  toolchain/turris-sdk/build.sh
  toolchain/turris-sdk/dockerfile
Due: .azure-pipelines/toolchain-pkg-repo.yaml, .azure-pipelines/toolchain-turris-sdk.yaml

introduce container-optimized kernel (cok) + openwrt community packages (#8)
  .azure-pipelines/toolchain-azp.yaml
  .azure-pipelines/toolchain-pkg-repo.yaml
  .azure-pipelines/toolchain-turris-base.yaml
  .azure-pipelines/toolchain-turris-sdk.yaml
  .azure-pipelines/turris-pkgs-docker.yaml
  .github/workflows/packages-cok-community-docker.yml
  .github/workflows/packages-cok-firmware.yml
  .github/workflows/packages-community-docker.yml
  .github/workflows/toolchain-pkg-repo.yml
  .github/workflows/toolchain-turris-cok-sdk.yml
  .github/workflows/toolchain-turris-sdk.yml
  .gitignore
  .secrets/gcp-sa.json.enc
  .secrets/sign.key.enc
  README.md
  doc/img/zimage-diff.png
  toolchain/install/install.sh
  toolchain/install/package.sh
  toolchain/install/repo-cok.sh
  toolchain/install/repo.sh
  toolchain/pkg-repo/dockerfile
  toolchain/pkg-repo/pkg-repo.sh
  toolchain/turris-cok-sdk/README.md
  toolchain/turris-sdk/build.sh
  toolchain/turris-sdk/dockerfile
Due: .azure-pipelines/toolchain-pkg-repo.yaml, .azure-pipelines/toolchain-turris-sdk.yaml

[CI] replace deprecated ::set-env command with $GITHUB_ENV (see: https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/)
  .github/workflows/toolchain-turris-cok-sdk.yml
  .github/workflows/toolchain-turris-sdk.yml
Due: none

[CI] replace deprecated ::set-env command with $GITHUB_ENV (#9)
  .github/workflows/toolchain-turris-cok-sdk.yml
  .github/workflows/toolchain-turris-sdk.yml
Due: none

[hotfix] resolve naming inconsistency for package 'docker'
  .github/workflows/packages-cok-community-docker.yml
  .github/workflows/packages-community-docker.yml
  README.md
Due: none

[hotfix] resolve naming inconsistency for package 'docker' (#10)
  .github/workflows/packages-cok-community-docker.yml
  .github/workflows/packages-community-docker.yml
  README.md
Due: none

trigger firmware deploy
  .github/workflows/packages-cok-firmware.yml
Due: none

test-github-actions
  toolchain/turris-cok-sdk/test
  toolchain/turris-sdk/test
Due: .azure-pipelines/toolchain-turris-sdk.yaml

[CI] skip deploying unmerged PRs to public package repo
  .github/workflows/packages-cok-community-docker.yml
  .github/workflows/packages-cok-firmware.yml
  .github/workflows/packages-community-docker.yml
Due: none

pkg/k3s: add new package for lightweight kubernetes (see: https://k3s.io)
  .github/workflows/packages-cok-k3s.yml
  README.md
  pkgs/k3s/LICENSE
  pkgs/k3s/Makefile
  pkgs/k3s/files/etc/config/k3s
  pkgs/k3s/files/etc/init.d/k3s
  pkgs/k3s/files/etc/sysctl.d/21-k3s
Due: none

scratch
  .github/workflows/packages-cok-k3s.yml
Due: none

1
  .github/workflows/packages-cok-k3s.yml
Due: none

2
  .github/workflows/packages-cok-k3s.yml
Due: none

[cok] enable seccomp
  .github/workflows/packages-cok-firmware.yml
  toolchain/turris-cok-sdk/dockerfile
  toolchain/turris-cok-sdk/kcfg_container
Due: none

debug
  .github/workflows/packages-cok-firmware.yml
Due: none

revert pipeline + update kernel make config
  .github/workflows/packages-cok-firmware.yml
  toolchain/turris-cok-sdk/kcfg_container
Due: none

didn't like kmods as modules...
  toolchain/turris-cok-sdk/kcfg_container
Due: none

.
  toolchain/turris-cok-sdk/kcfg_container
Due: none

3
  toolchain/turris-cok-sdk/kcfg_container
Due: none

3
  .github/workflows/packages-cok-k3s.yml
Due: none

sdk: allow 'su turris-build' for anyone in su.pam
  .github/workflows/toolchain-turris-sdk.yml
  toolchain/turris-sdk/dockerfile
  toolchain/turris-sdk/su.pam
Due: .azure-pipelines/toolchain-turris-sdk.yaml
